# Ignores vscode files
.vscode

# Ignores build files
src/build

# Ignores temporary data files
src/data

# Ignores all .exe files
*.exe

# Ignores the temporary data file
src/data.txt

# Ignores all .bat files
*.bat